.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.filter-container ul {
    display: flex;
    padding: 0;
}

.filter-container ul li{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}